<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Desafios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="challenge/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actividad</ion-title>
    </ion-toolbar>
  </ion-header>

  @for(activity of activities; track activity.id ){
  <ion-card [disabled]="!activity.active" href="challenge/{{activity.id}}">
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />

    <ion-card-header>
      <ion-card-title>{{activity.title}}</ion-card-title>
      <ion-card-subtitle>{{activity.goal}}</ion-card-subtitle>
      <small> {{activity.from}} - {{activity.to}}</small>
    </ion-card-header>

    <ion-card-content> {{activity.description}} </ion-card-content>
    <ion-button fill="clear">Unirse</ion-button>
  </ion-card>
  }
</ion-content>
