<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="achievements" href="/tabs/achievements">
      <ion-icon aria-hidden="true" name="ribbon"></ion-icon>
      <ion-label>Logros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity" href="/tabs/activity">
      <ion-icon aria-hidden="true" name="bonfire"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges" href="/tabs/challenges">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Desafios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <div class="avatar-tab" [class]="'avatar-tab--' + user.avatarColor">
        {{ user.initials }}
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
